.card {
    background-image: url('/assets/img/{{ $movie->poster }}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    /* atur ketinggian elemen card */
}